@import "tailwindcss";

@layer base {
  body {
    @apply text-gray-900 bg-gray-50 antialiased;
  }

  h1 {
    @apply text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl;
  }

  h3 {
    @apply text-xl font-semibold tracking-tight text-gray-900;
  }
}